<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mulheres na História</title>
</head>

<link rel="stylesheet" href="/static/css/carrossel.css">

<!-- Fonte -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link
  href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@300;400;500;600&display=swap"
  rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<body>

  <header>
    <div class="topo">
      <div class="logo">
        <div class="logo-icon">
          <span class="material-symbols-outlined logo-icon">account_balance</span>
        </div>

        <div>
          <h2>GALERIA</h2>
          <span>DE HISTÓRIAS</span>
        </div>

      </div>

    </div>
  </header>

  <main>
    <section class="carousel">

      <button class="seta esquerda" onclick="voltar()">
        ←
      </button>


      <div class="visor">
        <div class="track">

          <div class="card">
            <img src="/static/image/Joana.png" alt="Joana d'Arc">
            <div class="conteudo">
              <h2>Joana d'Arc</h2>
              <p>Heroína francesa que liderou tropas durante a Guerra dos Cem Anos.</p>
              <div class="linha-bt">
                <a href="historia.html?id=joana">Ver história →</a>
                <a href="video.html?id=joana">Assistir história →</a>
              </div>
            </div>
          </div>


          <div class="card">
            <img src="/static/image/Dandara.png" alt="Dandara">
            <div class="conteudo">
              <h2>Dandara dos Palmares</h2>
              <p>Símbolo da resistência negra contra a escravidão no Brasil.</p>
              <div class="linha-bt">
                <a href="historia.html?id=dandara">Ver história →</a>
                <a href="video.html?id=dandara">Assistir história →</a>
              </div>
            </div>
          </div>


          <div class="card">
            <img src="/static/image/Clarice.png" alt="Clarice">
            <div class="conteudo">
              <h2>Clarice Lispector</h2>
              <p>Uma das maiores escritoras da literatura brasileira.</p>
              <div class="linha-bt">
                <a href="historia.html?id=clarice">Ver história →</a>
                <a href="video.html?id=clarice">Assistir história →</a>
              </div>
            </div>
          </div>


          <div class="card">
            <img src="/static/image/Bruxas.png" alt="Bruxas da Noite">
            <div class="conteudo">
              <h2>Bruxas da Noite</h2>
              <p>Pilotas soviéticas que combateram na Segunda Guerra Mundial.</p>
              <div class="linha-bt">
                <a href="historia.html?id=bruxasNoite">Ver história →</a>
                <a href="video.html?id=bruxasNoite">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/MariaFilipa.png" alt="Maria Felipa">
            <div class="conteudo">
              <h2>Maria Felipa</h2>
              <p>Heroína da Independência da Bahia.</p>
              <div class="linha-bt">
                <a href="historia.html?id=mariaFelipa">Ver história →</a>
                <a href="video.html?id=mariaFelipa">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/Carolina.png" alt="Carolina Maria de Jesus">
            <div class="conteudo">
              <h2>Carolina Maria de Jesus</h2>
              <p>Escritora que retratou a realidade das favelas brasileiras.</p>
              <div class="linha-bt">
                <a href="historia.html?id=carolina">Ver história →</a>
                <a href="video.html?id=carolina">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/Ada.png" alt="Ada Lovelace">
            <div class="conteudo">
              <h2>Ada Lovelace</h2>
              <p>Considerada a primeira programadora da história.</p>
              <div class="linha-bt">
                <a href="historia.html?id=ada">Ver história →</a>
                <a href="video.html?id=ada">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/Nísia.png" alt="Nísia Floresta">
            <div class="conteudo">
              <h2>Nísia Floresta</h2>
              <p>Pioneira do feminismo e da educação feminina no Brasil.</p>
              <div class="linha-bt">
                <a href="historia.html?id=nisia">Ver história →</a>
                <a href="video.html?id=nisia">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/Sister.png" alt="Sister Rosetta Tharpe">
            <div class="conteudo">
              <h2>Sister Rosetta Tharpe</h2>
              <p>Considerada a madrinha do Rock and Roll.</p>
              <div class="linha-bt">
                <a href="historia.html?id=sisterRosetta">Ver história →</a>
                <a href="video.html?id=sisterRosetta">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/Jaqueline.png" alt="Jaqueline Goes de Jesus">
            <div class="conteudo">
              <h2>Jaqueline Goes</h2>
              <p>Pesquisadora brasileira que sequenciou o coronavírus no país.</p>
              <div class="linha-bt">
                <a href="historia.html?id=jaqueline">Ver história →</a>
                <a href="video.html?id=jaqueline">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/MariaPenha.png" alt="Maria da Penha">
            <div class="conteudo">
              <h2>Maria da Penha</h2>
              <p>Inspirou a criação da principal lei brasileira contra violência doméstica.</p>
              <div class="linha-bt">
                <a href="historia.html?id=mariaPenha">Ver história →</a>
                <a href="video.html?id=mariaPenha">Assistir história →</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img src="/static/image/Salem.png" alt="Bruxas de Salém">
            <div class="conteudo">
              <h2>Bruxas de Salém</h2>
              <p>Um dos episódios mais marcantes de perseguição da história.</p>
              <div class="linha-bt">
                <a href="historia.html?id=salem">Ver história →</a>
                <a href="video.html?id=salem">Assistir história →</a>
              </div>
            </div>
          </div>

        </div>
      </div>


      <button class="seta direita" onclick="avancar()">
        →
      </button>

    </section>
  </main>
  <footer>

    <p>Projeto acadêmico • Mulheres que Transformaram a História.</p>
    <p>Bianca T. Coppini | Gabriele A. Kraminski | João Vitor Pagani</p>
  </footer>


  <!-- <script src="../socket.io/socket.io.js"></script> -->
  <script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>

  <script src="/static/js/carrossel.js"></script>
  <script src="/static/js/controle.js"></script>

</body>

</html>